{% load static %}
<html>
    <head>
        <title>Django Diners</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="container">
                <div class="page-header">
                        <h1><a href="/">Django Diners</a></h1>
                        Welcome -- {{ user }}
                        <a href="{% url 'diners:signout' %}" class="top-menu"><span class="glyphicon">LogOut</span></a>
                    </div>
                    <a href="/diners/">Home</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'diners:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% else %}
                        <form action="{% url 'diners:signin' %}" method="post">{% csrf_token %}
                            <input type="text" name="username">
                            <input type="password" name="password">
                        <input type="submit" value="Submit" />
            
                    {% endif %}
                    <div class="content container">
                        <div class="row">
                            <div class="col-md-8">
                            {% block content %}
                            {% endblock %}
                            </div>
                        </div>
                    </div>
        </div>
    </body>
</html>