
{% extends 'diners/base.html' %}

{% block content %}

<h1>{{ diner.diner_name }}</h1>
<p>
    {{ diner.location }}
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p>
    Visit Status : {% if visit_status != 0 %} Yes (On {{ visit_status.visit_date }}) {% else %} No {% endif %}
</p>
<p>
    Positive Ratings: {{ rating_postive }} 
</p>
<div>
    <a href="{% url 'diners:rate_positive' diner.id %}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    | |
    <a href="{% url 'diners:rate_positive' diner.id %}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
</div>
<p>
    {{ location }}
</p>
<div id="map"></div>
    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmK4Y5QwyeU6TsrBVJxsJVyIYN7oZz14w&callback=initMap">
    </script>

Write a review:-
<form action="{% url 'diners:post_review' diner.id %}" method="post">
{% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" />
    </div>
</form>
<br>
<p>
    <h3>Reviews</h3>
</p>
<ul>
    {% for review in reviews %}
    <li>
        <p>
            {{ review.review_title }}  
            {% if review.author == user %} ||
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-star"></span>
            </button>
            {% else %}
            --by {{review.author}}
            {% endif %}
        </p>
        {{ review.review_text }}

        <form action="{% url 'diners:post_comment' review.id %}" method="post">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3">
                {{ comment }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>

        Previous Comments:
        {% for item in comment_list %}
        {% if item.review == review %}
        <p>
            {{item.comment_text}} -- {{ item.author }} 
        </p>
        {% endif %}
        {% endfor %}

    </li>
    {% endfor %}
</ul>
{% endblock %}